<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo3.minorder.mapper.BbMinorderMapper">
    <update id="updateByMinorderqty" >
        update view_minorder set minorderqty = #{minorderqty} where shopid = #{shopid} and goodsid = #{goodsid}
    </update>

    <update id="updateByMinstockqty" >
        update view_minorder set minstockqty = #{minstockqty} where shopid = #{shopid} and goodsid = #{goodsid}
    </update>

    <insert id="saveLie">
        insert into view_minorder(shopid,goodsid,minorderqty,minstockqty) values(#{shopid},#{goodsid},#{minorderqty},#{minstockqty})
    </insert>

</mapper>